@charset "utf-8";
/* page */

/*실시간 정보 영역*/
	.hot_deal ul li{
		width: 49%;
		float: left;
	}

	.hot_deal ul li:nth-child(1),
	.hot_deal ul li:nth-child(3){
		margin-right: 2%;
	}

	.hot_deal ul li:nth-child(1),
	.hot_deal ul li:nth-child(2){
		margin-bottom:2%;
	}



	.hot_deal ul li figure img{
		margin-bottom:2%;
		border:1px solid #ededed;
		box-sizing: border-box;
	}

	.hot_deal ul li figcaption p{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		padding:0 2% 2px;
		text-align:center;
		line-height: 16px;
	}

/*관심기사 베스트 7 영역*/
	.test_7{
		padding:2% 0 2%;
	}
	.test_7 > h2{
		padding:0 2%;
	}
	.test_7 li{
		background:url(../images/dot.png) no-repeat 3% center;
		background-size: 1.5%;
		margin-bottom:3%;
		padding:3px 0 3px 6%;
		border-bottom:1px solid #ededed;
	}

	.test_7 li a{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		height: 15px;
		line-height: 18px;
	}

	.test_7 li:last-child{
		margin-bottom:0;
	}


/*이미지 슬라이드*/
	.bx-wrapper {position: relative;margin: 0 auto;padding: 0;	*zoom: 1;}
	.bx-wrapper img {max-width: 100%;display: block;}

	/** THEME
	===================================*/

	.bx-wrapper .bx-viewport {	/*fix other elements on the page moving (on Chrome)*/-webkit-transform: translatez(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform:translatez(0);transform: translatez(0);}
	.bx-wrapper .bx-viewport ul {margin:0px; padding:0px;}

	.bx-wrapper .bx-pager,
	.bx-wrapper .bx-controls-auto {position: absolute;	bottom: 0px;width: 100%;}

	/* LOADER */

	.bx-wrapper .bx-loading {min-height: 50px;background: url(../images/bx_loader.gif) center center no-repeat #fff;height: 100%;	width: 100%;position: absolute;	top: 0;left: 0;	z-index: 2000;}

	/* PAGER */

	.bx-wrapper .bx-pager {text-align: center;font-size: .85em;font-family: Arial;font-weight: bold;color: #ccc;}

	.bx-wrapper .bx-pager .bx-pager-item,
	.bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;*zoom: 1;*display: inline;}

	.bx-wrapper .bx-pager.bx-default-pager a {background: #ccc;text-indent: -9999px;display: block;	width: 5px;height: 5px;margin: 0 5px;	outline: 0;	-moz-border-radius: 5px;-webkit-border-radius: 5px;	border-radius: 5px;}

	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active {background: #000;}

	/* DIRECTION CONTROLS (NEXT / PREV) */

	.bx-wrapper .bx-prev {left: 10px;	background: url(../images/controls.png) no-repeat 0 -32px;}
	.bx-wrapper .bx-next {right: 10px;	background: url(../images/controls.png) no-repeat -43px -32px;}
	.bx-wrapper .bx-prev:hover {background-position: 0 0;}
	.bx-wrapper .bx-next:hover {background-position: -43p 0;}
	.bx-wrapper .bx-controls-direction a {position: absolute;top: 50%;	margin-top: -16px;outline: 0;width: 32px;height: 32px;text-indent: -9999px;z-index: 9999;}
	.bx-wrapper .bx-controls-direction a.disabled {	display: none;}

	/* AUTO CONTROLS (START / STOP) */

	.bx-wrapper .bx-controls-auto {text-align: center;}
	.bx-wrapper .bx-controls-auto .bx-start {display: block;text-indent: -9999px;width: 10px;height: 11px;outline: 0;background: url(../images/controls.png) -86px -11px no-repeat;margin: 0 3px;}
	.bx-wrapper .bx-controls-auto .bx-start:hover,
	.bx-wrapper .bx-controls-auto .bx-start.active {background-position: -86px 0;}
	.bx-wrapper .bx-controls-auto .bx-stop {display: block;	text-indent: -9999px;width: 9px;height: 11px;outline: 0;background: url(../images/controls.png) -86px -44px no-repeat;	margin: 0 3px;}
	.bx-wrapper .bx-controls-auto .bx-stop:hover,
	.bx-wrapper .bx-controls-auto .bx-stop.active {background-position: -86px -33px;}

	/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {text-align: left;width: 80%;}
	.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {right: 0;width: 35px;}

	/* IMAGE CAPTIONS */

	.bx-wrapper .bx-caption {position: absolute;bottom: 0;	left: 0;background: #666\9;	background: rgba(80, 80, 80, 0.75);width: 100%;}
	.bx-wrapper .bx-caption span {color: #fff;font-family: Arial;display: block;font-size: .85em;	padding: 10px;
	}

/* 배너영역 / padding_0 */
	.padding_0{
		padding:0;
		background-color: #ededed;
	}

/*대박 딜 영역*/
	.daebak_deal ul li{
		width: 49%;
		margin:0 2% 2% 0;
		float: left;
	}

	.daebak_deal ul li:nth-child(2n){
		margin-right:0;
	}

	.daebak_deal ul li:nth-child(5),.daebak_deal ul li:nth-child(6){
		margin-bottom: 0;
	}

	.daebak_deal ul li img{
		margin-bottom:2%;
	}

	.daebak_deal ul li figcaption{
		text-align:center;
	}

	.daebak_deal ul li figcaption p{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		padding:0 2% 2px;
	}

	.daebak_deal ul li figcaption span{
		color:red;
		font-weight: bold;
	}

	.daebak_deal ul li figcaption span,
	.daebak_deal ul li figcaption del{
		margin: 2% 0;
		display: inline-block;
	}


	.daebak_deal ul li figcaption b{
		display: block;
		font-weight: bold;

	}

/*인기기획전 TOP06 영역 , PD 강력추천작 영역*/
	.exhibition li{
		margin-bottom: 1%;
	}

	.exhibition li:last-child{
		margin-bottom: 0;
	}
	.exhibition li img{
		width: 35%;
		margin-right: 2%;
		float: left;
		border:1px solid #ededed;
		box-sizing: border-box;
	}
	.exhibition li figure{
		position: relative;
		display: inline-block;
		width: 100%;
	}
	.exhibition li figcaption{
		width: 63%;
		height:52px;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		margin:auto 0;
	}

	.exhibition li b{
		font-weight: bold;
		display: block;
		margin-bottom: 10px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		height: 15px;
		font-size: 15px;
	}

	.exhibition li p{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		line-height: 15px;
	}
	
/*line3_3 영역*/
	.line3_3 li{
		width: 32%;
		margin:0 2% 2% 0;
		float: left;
	}
	.line3_3 li:nth-child(3n){
		margin-right: 0;
	}

	.line3_3 li:nth-child(7),
	.line3_3 li:nth-child(8),
	.line3_3 li:nth-child(9){
		margin-bottom:0;
	}

	.line3_3 li img{
		margin-bottom:2%;
	}

	/*.line3_3 li figcaption{
		text-align: center;
	}*/

	.line3_3 li b{
		font-weight: bold;
		display: block;
		margin-bottom:2%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.line3_3 li p{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		line-height: 14px;
	}

/*line3_2 영역*/
	.line3_2 li{
		width: 32%;
		margin:0 2% 2% 0;
		float: left;
	}
	.line3_2 li:nth-child(3n){
		margin-right: 0;
	}

	.line3_2 li:nth-child(4),
	.line3_2 li:nth-child(5),
	.line3_2 li:nth-child(6){
		margin-bottom:0;
	}

	.line3_2 li img{
		margin-bottom:2%;
		border:1px solid #ededed;
		box-sizing: border-box;
	}

	/*.line3_3 li figcaption{
		text-align: center;
	}*/

	.line3_2 li b{
		font-weight: bold;
		display: block;
		margin-bottom:2%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.line3_2 li p{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		line-height: 14px;
		text-align:center;
	}

/*투믹스 독점작  영역*/
	.tomix ul li{
		width: 49%;
		margin:0 2% 2% 0;
		float: left;
	}

	.tomix ul li:nth-child(2n){
		margin-right:0;
	}

	.tomix ul li:nth-child(5),.tomix ul li:nth-child(6){
		margin-bottom: 0;
	}

	.tomix ul li img{
		margin-bottom:2%;
	}

	.tomix ul li figcaption{
		text-align:center;
	}

	.tomix ul li figcaption p{
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		padding:0 2% 2px;
	}

	.tomix ul li figcaption span{
		color:red;
		font-weight: bold;
	}
	.tomix ul li figcaption b{
		display: block;
		font-weight: bold;
		margin-bottom:2%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

	}

/*topic 영역*/
	.topic{
		height: 80px;
		position: relative;
		background:#fff;
		max-width: 420px;
	}
	.topic figure{
		position:relative;
		display: inline-block;
		width:93%;
	}
	.topic figure img{
		width:120px;
		height: 80px;
		margin-right: 3%;
		float: left;
	}

	.topic figure figcaption{
		display: inline-block;
		width: 60%;
		height: 67px;
		position: absolute;
		top: 0;
		bottom:0;
		margin:auto 0;
	}

	.topic figure figcaption h2{
		font-size: 16px;
		font-weight: bold;
		text-overflow: ellipsis;
		overflow: hidden;
		height: 35px;
		line-height: 17px;
		white-space: nowrap;
		margin-bottom: 1.5%;
	}

	.topic figure figcaption p{
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		line-height: 15px;
		font-size: 13px;
	}

	.topic figure figcaption span{
		font-size: 15px;
		color: red;
	}

	.topic ul{
		width: 5%;
		float: right;
		height: 80px;
		position: relative;
	}

	.topic ul li{
		background: #5d5d5d;
		width: 12px;
		height: 12px;
		line-height: 13px;
		position: absolute;
		text-align: center;
		color:#fff;
		font-weight: bold;
		font-size: 10px;
		right: 35%;

	}
	.topic ul li:first-child{
		top:5%;
	}
	.topic ul li:last-child{
		bottom: 5%;
		line-height: 11px;
	}

	.topic div{
		width: 30px;
		height: 10px;
		background-color: red;
		color: #fff;
		position:absolute;
		top:5px;
		left: 5px;
		padding:2px;
		line-height: 11px;
		text-align:center;
		font-weight:bold;
		border-radius: 3px;
		font-size: 10px;
	}

	.topic .link01{
		width: 93%;
		height: 80px;
		position: absolute;
		top: 0;
		left: 0;
	}

	.topic .link02{
		width: 6%;
		height: 20px;
		position: absolute;
		top: 0;
		right: 0;
	}

	.topic .link03{
		width: 6%;
		height: 20px;
		position: absolute;
		bottom: 0;
		right: 0;
	}

@media screen and (max-width:320px){
		.topic figure img{
			margin-right: 2%;
		}

		.topic figure figcaption{
			width: 55%;
		}

		.topic figure figcaption h2{
			font-size: 13px;
		}

		.topic figure figcaption span{
			font-size: 13px;
		}

		.topic figure figcaption p{
			font-size: 11px;
		}

}



